//fonts
$mono: 'Anonymous Pro', monospace;
$incon: 'Inconsolata', monospace;
$dosis: 'Dosis', sans-serif;

//colors
$menuColor: #B9A8A9;
$mainBlue: #455977;

//original mutedBlues
$bannerBlue: #74C4E4;
$infoBlue: #58AACA;
$templatesBlue: #4390AE;
$footerBlue: #307793;

//saturated blues
//$bannerBlue: #D4EAFF;
//$infoBlue: #94C5F2;
//$templatesBlue: #438ACC;
//$footerBlue: #02539E;

$deviceColor: #264653;
$deviceBorder: #428BA8;
$bannerOrange: #FFCB99;
$bannerYellow: #FAFFB1;
$infoTitle: #1B5A73;
$infoWords: white ;
$typePortfolio: #50ceff;
$typePersonal: #ffc998;
