<!DOCTYPE html>
<html>
  <head>
    <title>Gallery: Branded: freeWebsiteDesign</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body class="galleryPage">
    <section id="shell">

      <div class="galleryPageTitle">pageTitleHere</div>

      <div class="galleryShell">
        <img src="img/4Tiny.jpg" class="">
        <img src="img/3Tiny.jpg" class="">
        <img src="img/2Tiny.jpg" class="">
        <img src="img/1Tiny.jpg" class="">
        <img src="img/4Tiny.jpg" class="">
        <img src="img/3Tiny.jpg" class="">
        <img src="img/2Tiny.jpg" class="">
        <img src="img/1Tiny.jpg" class="">
        <img src="img/6Tiny.jpg" class="">
        <img src="img/5Tiny.jpg" class="">
        <img src="img/4Tiny.jpg" class="">
        <img src="img/3Tiny.jpg" class="">
        <img src="img/2Tiny.jpg" class="">
        <img src="img/1Tiny.jpg" class="">
      </div>

      <ul class="pageNav">
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <ul class="ul social">
        <li class="li"><a href="#">Instagram<p></p></a></li>
        <li class="li"><a href="#">Twitter<p></p></a></li>
        <li class="li"><a href="#">Facebook<p></p></a></li>
        <li class="li"><a href="#">Something<p></p></a></li>
      </ul>

      <h1 class="logo">
        <a href="index.html">Sajaan</a>
        <a href="index.html">Matharu</a>
      </h1>

      <h1 class="freeWebsiteDesign"><a href="https://freeWebsite.Design">freeWebsite.Design</a></h1>
    </section><!-- end shell -->
  </body>
  <script type="text/javascript" src="js/jsFiles.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
