<!DOCTYPE html>
<html>
  <head>
    <title>Branded: freeWebsite.Design</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>

  <body class="is-loading">

    <div id="preloader">
      <div class="txt">
        <p class="txt-perc">0%</p>
        <div class="progress"><span></span></div>
      </div>
      <div class="loadPanel p1"></div>
      <div class="loadPanel p2"></div>
      <div class="loadPanel p3"></div>
      <div class="loadPanel p4"></div>
      <div class="loadPanel p5"></div>
      <div class="loadPanel p6"></div>
      <div class="loadPanel p7"></div>
      <div class="loadPanel p8"></div>
      <div class="loadPanel p9"></div>
      <div class="loadPanel p10"></div>
    </div>

    <section id="shell">
      <section class="linksHolder">
        <ul>
          <li class="li brandItem brandItem14" data-number="14"><a href="gallery.html">Gucci</a></li>
          <li class="li brandItem brandItem13" data-number="13"><a href="gallery.html">Addidas</a></li>
          <li class="li brandItem brandItem12" data-number="12"><a href="gallery.html">Vogue</a></li>
          <li class="li brandItem brandItem11" data-number="11"><a href="gallery.html">Golfx</a></li>
          <li class="li brandItem brandItem10" data-number="10"><a href="gallery.html">Tesla</a></li>
          <li class="li brandItem brandItem9" data-number="9"><a href="gallery.html">DeepMind</a></li>
          <li class="li brandItem brandItem8" data-number="8"><a href="gallery.html">James Jean</a></li>
          <li class="li brandItem brandItem7" data-number="7"><a href="gallery.html">Tyler The Creator</a></li>
          <li class="li brandItem brandItem6" data-number="6"><a href="gallery.html">Larry Page</a></li>
          <li class="li brandItem brandItem5" data-number="5"><a href="gallery.html">Bauhouse</a></li>
          <li class="li brandItem brandItem4" data-number="4"><a href="gallery.html">National Geographic</a></li>
          <li class="li brandItem brandItem3" data-number="3"><a href="gallery.html">Supreme</a></li>
          <li class="li brandItem brandItem2" data-number="2"><a href="gallery.html">Leader</a></li>
          <li class="li brandItem brandItem1" data-number="1"><a href="gallery.html">Reebok</a></li>
        </ul>
      </section>

      <section class="backgroundImages">
        <img src="img/4Tiny.jpg" class="preImg image item14">
        <img src="img/3Tiny.jpg" class="preImg image item13">
        <img src="img/2Tiny.jpg" class="preImg image item12">
        <img src="img/5Tiny.jpg" class="preImg image item11">
        <img src="img/4Tiny.jpg" class="preImg image item10">
        <img src="img/3Tiny.jpg" class="preImg image item9">
        <img src="img/6Tiny.jpg" class="preImg image item8">
        <img src="img/1Tiny.jpg" class="preImg image item7">
        <img src="img/6Tiny.jpg" class="preImg image item6">
        <img src="img/5Tiny.jpg" class="preImg image item5">
        <img src="img/4Tiny.jpg" class="preImg image item4">
        <img src="img/3Tiny.jpg" class="preImg image item3">
        <img src="img/2Tiny.jpg" class="preImg image item2">
        <img src="img/1Tiny.jpg" class="preImg image item1">
      </section>

      <ul class="pageNav">
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <ul class="ul social">
        <li class="li"><a href="#">Instagram<p></p></a></li>
        <li class="li"><a href="#">Twitter<p></p></a></li>
        <li class="li"><a href="#">Facebook<p></p></a></li>
        <li class="li"><a href="#">Medium<p></p></a></li>
      </ul>

      <h1 class="logo">
        <a href="#">Sajaan</a>
        <a href="#">Matharu</a>
      </h1>

      <h1 class="freeWebsiteDesign"><a href="https://freeWebsite.Design">freeWebsite.Design</a></h1>
    </section><!-- end shell -->
  </body>
  <script type="text/javascript" src="js/jsFiles.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
