<!DOCTYPE html>
<html>
  <head>
    <title>Focus: freeWebsite.Design</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>

  <body class="homeBody">
    <section id="shell">

      <h1 class="name">
        <a href="#">MyBig Name</a>
      </h1>

      <div class="aboutContact rightTarget">
        <a href="aboutContact.html">
          <p>About</p>
          <p>+</p>
          <p>Contact</p>
        </a>
      </div>

      <ul class="links rightTarget">
        <li><a href="gallery2.html">Gallery 2</a></li>
        <li><a href="gallery1.html">Gallery 1</a></li>
      </ul>

      <ul class="ul social rightTarget">
        <li class="li"><a href="#"><p>Facebook</p></a></li>
        <li class="li"><a href="#"><p>Instagram</p></a></li>
      </ul>

      <div class="imageContainer">
        <div class="row">
          <div class="item item12 itemLeft">
            <a href="gallery1.html" class="itemLink">Gallery I</a>
          </div>
          <div class="item item11 itemCenter">
            <a href="gallery2.html" class="itemLink">Gallery II</a>
          </div>
          <div class="item item10 itemRight">
            <a href="gallery1.html" class="itemLink">Gallery I</a>
          </div>
        </div>
        <div class="row">
          <div class="item item9 itemLeft">
            <p class="itemText">Paul Hanaoka</p>
          </div>
          <div class="item item8 itemCenter">
            <p class="itemText">Paul Hanaoka</p>
          </div>
          <div class="item item7 itemRight">
            <p class="itemText">Paul Hanaoka</p>
          </div>
        </div>
        <div class="row">
          <div class="item item6 itemLeft"></div>
          <div class="item item5 itemCenter"></div>
          <div class="item item4 itemRight"></div>
        </div>
        <div class="row">
          <div class="item item3 itemLeft"></div>
          <div class="item item2 itemCenter"></div>
          <div class="item item1 itemRight"></div>
        </div>
      </div><!-- end imageContainer-->

      <p class="imagesBy"><a href="https://unsplash.com/@paul_">images by: Paul Hanaoka</a></p>
      <p><a href="https://freeWebsite.Design" class="freeWebsiteDesign">freeWebsite.Design</a></p>

    </section><!-- end shell -->

  </body>
  <script type="text/javascript" src="js/jsFiles.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
